{% extends 'accounts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1 style="color: blue;text-align: center;">SignUp Here</h1>
<div class="container bg-white shadow-md p-5 form-layout">
    <div class="jumbotron">
        <div class="card card-body">
            <form action="" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                {{ form1.username | as_crispy_field }}<br>
                {{ form1.email | as_crispy_field }}<br>
                {{ form2.phone | as_crispy_field }}<br>
                {{ form2.address | as_crispy_field }}<br>
                {{ form2.user_img | as_crispy_field }}<br>
                {{ form1.password | as_crispy_field }}<br>
                {{ form2.captcha }}<br>
                <input type="submit" class="btn btn-danger" value="REGISTER">
            </form>
        </div>
    </div>
</div>
    
{% endblock %}